svg {

}

#mapBlock {
  padding-left: 2%;
}

#stateChartBlock {
  padding-left: 2%;
}
.states {
  stroke: chocolate;
  fill: chocolate;
  fill-opacity: .7;
}
.states:hover {
  fill: yellow;
  opacity: 0.7;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 20px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/*
  slider
*/

#currSelectedDate {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 1000px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}
#currSelectedDate:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#currSelectedDate::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
#currDateP {
  font-size: 16pt;
}
#currDate {
  font-size: 16pt;
}

#currState {
  font-size: 16pt;
}

/*
  state char
*/
.stateX {
  font-size: 14pt;
}

.stateY {
  font-size: 14pt;
}


/*
  zoom
*/
.overlay {
	fill: none;
	pointer-events: all;
}
